.icon {
  cursor: pointer;
  display: inline-block;
  min-width: 18px;
  min-height: 20px;
  background-color: #8992a9;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;
}

/* SIDEBAR ICON */
.icon.icon-layout {
  mask-image: url("../icon/layoutIcon.svg");
  -webkit-mask-image: url("../icon/layoutIcon.svg");
}
.icon.icon-users {
  mask-image: url("../icon/userIcon.svg");
  -webkit-mask-image: url("../icon//userIcon.svg");
}

.icon.icon-out {
  mask-image: url("../icon/outIcon.svg");
  -webkit-mask-image: url("../icon//outIcon.svg");
}

.icon.icon-agenda {
  mask-image: url("../icon/sidebarAgenda.svg");
  -webkit-mask-image: url("../icon//sidebarAgenda.svg");
}

.icon.icon-positions {
  mask-image: url("../icon/sidebarPositions.svg");
  -webkit-mask-image: url("../icon//sidebarPositions.svg");
}
.icon.icon-fields {
  mask-image: url("../icon/sidebarFields.svg");
  -webkit-mask-image: url("../icon//sidebarFields.svg");
}
.icon.icon-ticket {
  mask-image: url("../icon/sidebarTicket.svg");
  -webkit-mask-image: url("../icon//sidebarTicket.svg");
}
.icon.comments {
  mask-image: url("../icon/comments.svg");
  -webkit-mask-image: url("../icon//comments.svg");
}
.icon.icon-settings {
  mask-image: url("../icon/sidebarSettings.svg");
  -webkit-mask-image: url("../icon//sidebarSettings.svg");
}

/* NAVBAR ICONS */

.icon.icon-msg {
  mask-image: url("../icon/msgicon.svg");
  -webkit-mask-image: url("../icon/msgicon.svg");
}
.icon.icon-notify {
  mask-image: url("../icon/iconnotify.svg");
  -webkit-mask-image: url("../icon/iconnotify.svg");
}
.icon.icon-full {
  mask-image: url("../icon/fullscreenicon.svg");
  -webkit-mask-image: url("../icon/fullscreenicon.svg");
}
.icon.icon-clear {
  mask-image: url("../icon/clearicon.svg");
  -webkit-mask-image: url("../icon/clearicon.svg");
  width: 16px;
  height: 16px;
}

/* LAYOUT ICON */

.icon-icon1 {
  mask-image: url("../icon/Icon.svg");
  -webkit-mask-image: url("../icon/Icon.svg");
}
.icon-icon2 {
  mask-image: url("../icon/Icon2.svg");
  -webkit-mask-image: url("../icon/Icon2.svg");
}
.icon-addUser {
  mask-image: url("../icon/plus.svg");
  -webkit-mask-image: url("../icon/plus.svg");  
}
.icon-agenda{
  mask-image: url("../icon/agenda.svg");
  -webkit-mask-image: url("../icon/agenda.svg");
}
.icon-icon3 {
  mask-image: url("../icon/Icon3.svg");
  -webkit-mask-image: url("../icon/Icon3.svg");
}
.icon-icon4 {
  mask-image: url("../icon/Icon4.svg");
  -webkit-mask-image: url("../icon/Icon4.svg");
}
.icon-icon5 {
  mask-image: url("../icon/Icon5.svg");
  -webkit-mask-image: url("../icon/Icon5.svg");
}
.icon-search {
  mask-image: url("../icon/search.svg");
  -webkit-mask-image: url("../icon/search.svg");
}
.arrow-up {
  mask-image: url("../icon/arrow.svg");
  -webkit-mask-image: url("../icon/arrow.svg");
}
.arrow-down {
  mask-image: url("../icon/Arrow2.svg");
  -webkit-mask-image: url("../icon/Arrow2.svg");
}
.icon-expand {
  mask-image: url("../icon/Expand.svg");
  -webkit-mask-image: url("../icon/Expand.svg");
}

.icon.ccc {
  display: inline-block;
  cursor: pointer;
  background: #747474;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-position: center;
  -webkit-mask-position: center;

  mask-image: url("../icon/Vector.svg");
  -webkit-mask-image: url("../icon/Vector.svg");
}
.icon.close {
  width: 12px;
  height: 6px;
  background: #747474;

  mask-image: url("../icon/close.svg");
  -webkit-mask-image: url("../icon/close.svg");
}
.icon.speaker{
  min-width: 18px;
  min-height: 20px;
  background-color: #8992a9;
  mask-image: url("../icon/speaker.svg");
  -webkit-mask-image: url("../icon/speaker.svg");
}